{% extends "base.html" %}
{% block title %}班级学生列表{% endblock %}
{% block body %}
{%include 'superadmin/nav.html'%}

<link rel="stylesheet" href="{{url_for('static',filename='layui/css/layui.css')}}">
        

<script src="{{url_for('static',filename='layui/layui.js')}}"></script>


<div class="container">
	<div class="row">

		<div class="col-xs-6">
			<form action="{{url_for('superadmin.add_student')}}" method="POST" enctype="multipart/form-data">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
			<input type="hidden" name="classes_id" value="{{classes.id}}">
				<div class="form-group">
				<div class="col-md-6"><input type="file" name="file" id="file"></div>
				<div class="col-md-6"><input type="submit" value="提交" class="btn btn-primary"></div>

				</div>
				
			</form>

		</div>


		<div class="col-xs-6">

		{%if classes.charge_teachers%}
			<h1>班主任：{{classes.teacher.users.first_name}}，<a href="{{url_for('superadmin.rollback_teacher_set',id=classes.id)}}">【撤销】</a></h1>

		{%else%}
		<form action="{{url_for('superadmin.set_teachers')}}" method="post" class="form-inline" role="form">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
			<input type="hidden" name="classes_id" value="{{classes.id}}">
			<input type="text" name="phone" id="" placeholder="班主任的手机号码" class="form-control">
			<input type="submit" value="设置班主任" class="btn btn-default">
		</form>
		{%endif%}
			
		</div>
		
	</div>


	<div class="row">

		{%if classes.student%}
		{%for i in classes.student%}
		<div class="col-xs-2">
			<div class="thumbnail">
				{%if i.img%}
				<img src="{{url_for('public.get_student_img',student_img=i.img)}}" id='{{i.id}}'>
				{%else%}
				<img src="{{url_for('static',filename='images/icon6.png')}}" id='{{i.id}}'>

				{%endif%}
	            
	            <img src="{{url_for('public.get_student_rq',student_str=i.id)}}">
	            <div class="caption">
	                <h3><a href="{{url_for('superadmin.delete_student',id=i.id,classid=classes.id)}}" onclick="if(confirm('确认删除吗？')==false)return false;">{{i.name}} </a>,{%if i.sex%} 男{%else%}女{%endif%}</h3>
	                <p>{{i.number}}</p>
	                <button class="layui-btn demoMore" lay-data="{id: '{{i.id}}'}"><i class="layui-icon"></i>更新照片</button>


	               
	            </div>
	         </div>
		</div>
		{%endfor%}
	{%endif%}


		

	</div>
</div>

<script type="text/javascript">


layui.use('upload', function(){
	var upload = layui.upload;
  
	//同时绑定多个元素，并将属性设定在元素上
	upload.render({
		elem: '.demoMore'
		,url: '{{url_for("superadmin.submit_students_img",_external=True)}}'
		,size: 1500 //限制文件大小，单位 KB
		,data: {id: '0'}
		,before: function(){
			this.data.id = this.id,
			layer.msg('文件上传中，请等待。'); 
		}
		,done: function(res, index, upload){
			document.getElementById(res.success[1]).src = "/get_student_img/"+res.success[0];

		}
		,error:function(){
			alert('上传失败，请检查网络。');
		}
	});


});


</script>


{% endblock %}


