{% extends "base.html" %}
{% block title %}主页{% endblock %}
{% block body %}
<nav class="navbar navbar-inverse text-center" role="navigation" >	
        <h3 style='color:white;font-size: 18px;line-height: 20px;margin-top:15px;' >我批准的请假</h3>       
</nav>
<div class="col-sm-10">
	
{%for i in askleave%}
{%if i.charge_state==0%}
<div class="panel panel-primary">
{%endif%}
{%if i.charge_state==1%}
<div class="panel panel-success">
{%endif%}
{%if i.charge_state==2%}
<div class="panel panel-info">
{%endif%}
{%if i.charge_state==3%}
<div class="panel panel-warning">
{%endif%}
	<div class="panel-heading">
		<h3 class="panel-title">
{{i.ask_student.name}}
{%if i.ask_student.users%}
[{{i.ask_student.users.roles.name}}]，
{%else%}
[Students]
{%endif%}
{%if i.charge_state==0%}
		等待确认 <a href="{{url_for('user.charge_ask_leave',id=i.id)}}">同意</a>
		{%endif%}

		{%if i.charge_state==1%}
		已批准<br>
		{%endif%}

		{%if i.charge_state==2%}
		已拒绝
		{%endif%}

		{%if i.charge_state==3%}
		已归来，
		{%endif%}

		</h3>
	</div>
	<div class="panel-body">
		{%if i.charge_state==1%}
		批准时间:{{i.charge_time}}，<br>
		{%endif%}
		{%if i.charge_state==3%}
		归来时间：{{i.back_leave_time}} <br>	
		{%endif%}

		
		请假开始时间:{{i.ask_start_time}}，<br>
		请假结束时间:{{i.ask_end_time}}，<br>
		
		请假原因:{{i.why}} <br>
		
		创建时间:{{i.created_at}}，  
	</div>
</div>
{%endfor%}



{% endblock %}

