{% extends "base.html" %}
{% block title %}发起请假{% endblock %}
{% block body %}
<nav class="navbar navbar-inverse text-center" role="navigation" >	
        <h3 style='color:white;font-size: 18px;line-height: 20px;margin-top:15px;' >发起请假</h3>       
</nav>

<form action="{{url_for('user.send_leave_post')}}" method="post">
{{ form.hidden_tag() }}

	<div class="form-group">
		{{ form.number.label(class='col-sm-2 control-label') }} 
		<div class="col-sm-10">
			{{ form.number(class='form-control') }}
		</div>
	</div>

	<div class="form-group">
		{{ form.start_time.label(class='col-sm-2 control-label') }} 
		<div class="col-sm-10">
			{{ form.start_time(class='form-control') }}
		</div>
	</div>

	<div class="form-group">
		{{ form.end_time.label(class='col-sm-2 control-label') }} 
		<div class="col-sm-10">
			{{ form.end_time(class='form-control') }}
		</div>
	</div>

	<div class="form-group">
		
		{{ form.why.label(class='col-sm-2 control-label') }} 
	    <div class="col-sm-10">
	    	{{ form.why(class='form-control') }}
	    </div>
	</div>

	<div class="form-group">
		&nbsp;
	</div>


	<div class="form-group">
	<div class="col-sm-10">
		<input type="submit" value="请假" type="button" class="btn btn-primary btn-lg btn-block">
	</div>
	</div>

</form>

{% endblock %}

</html>